name: Test

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]
    runs-on: ubuntu-latest
    steps:
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install dependencies
      run: npm install
    - name: Test
      run: npm test
      env:
        CI: true
